<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.his.drugwarehouse.mapper.SysBreakageMapper">
    <select id="quertBreakage" resultType="map">
        SELECT * FROM sys_breakage b,sys_drugwarehouse sd
        WHERE b.id=sd.id AND b.bprocessing=1
    </select>

    <select id="quertBreakageByBid" resultType="map">
        SELECT * FROM sys_breakage b,sys_drugwarehouse sd
        WHERE b.id=sd.id AND b.bid=#{bid}
    </select>

    <update id="updateBreakage" parameterType="map">
        update sys_breakage set bprocessing=#{bprocessing},bassessor=#{bassessor},
        bauditinfo=#{bauditinfo},baudittime=#{baudittime} where bid=#{bid}
    </update>

    <update id="putDrugPricing" parameterType="map">
        update sys_breakage set bprocessing=#{bprocessing},bassessor=#{bassessor},
        bauditinfo=#{bauditinfo},baudittime=#{baudittime} where bid=#{bid}
    </update>

    <select id="queryAllBreakage" resultType="map">
        SELECT * FROM sys_breakage b,sys_drugwarehouse sd
        WHERE b.id=sd.id AND b.bprocessing!=1
        <if test="drugname!='' and drugname!=null">
            and sd.drugname  like '%${drugname}%'
        </if>
        <if test="supplier!='' and supplier!=null">
            and sd.supplier  like '%${supplier}%'
        </if>
    </select>
</mapper>